<template name="card">
    <div class="mt-4 col-sm-3">
        <div class="card">
            <div class="card-header">
                <button type="button" class="btn btn-warning plusBtn">+</button>
                {{showCount}}
                <button type="button" class="btn btn-warning minusBtn">-</button>
            </div>
            <div class="card-body">
                <h5 class="card-title">{{data.title}}</h5>
                <p class="card-text">{{data.description}}</p>
                {{#if isProfile}}
                <a class="btn btn-primary editBtn">Edit</a>
                {{else}}
                {{#if isBucket}}
                <a class="btn btn-primary removeBucket">Remove bucket</a>
                {{else}}
                {{#unless showBtn}}
                <a class="btn btn-primary addBucket">Add to bucket</a>
                {{/unless}}
                {{/if}}
                {{/if}}
                {{#if isBucket}}
                <p class="btn-primary">Status : {{#if data.status}}aktiv{{else}}deactiv{{/if}}</p>
                {{/if}}
            </div>
            <div class="card-footer">$ {{data.price}}</div>
        </div>
    </div>

</template>